# List and its default functions

In [11]:
# List = list the ordered collection of items or objects which are changeable(mutable) which are written uysing []
#list allows duplicate members or items 
list1 = [2,3.0,'reddy',55,56.25,'avengers']
print(list1)

[2, 3.0, 'reddy', 55, 56.25, 'avengers']

# List methods

In [10]:
#append = The append method add single item to the list 

list1.append(7)
print(list1)

[2, 3.0, 'reddy', 55, 56.25, 'avengers', 7]

In [14]:
#clear method or function is used to erase the elements of the list and the list become empty list
list1.clear()
print(list1)

[]

In [15]:
list1 = [2,3.0,'reddy',55,56.25,'avengers']

In [19]:
#copy method is used to craete a copy of the original list. i.e the shallow copy of the list. We achieve this bu using "=" 
newlist = list1.copy()
print(newlist)

[2, 3.0, 'reddy', 55, 56.25, 'avengers']

In [22]:
#count method is used to count the number of occurence of an element
list2 = [1,2,4,2,5,3,6,2,4]
print(list2)
list2.count(2)

[1, 2, 4, 2, 5, 3, 6, 2, 4]

3

In [41]:
#extend method is used to add the specified list elements to the end of the list
list1.extend(list2)
print(list1)

[2, 3.0, 'reddy', 55, 56.25, 'avengers', 1, 2, 4, 2, 5, 3, 6, 2, 4]

In [44]:
#index method finds the given element and returns the index of the first occurence of the element
list1.index('reddy')

8

In [45]:
list1.index('avengers')

5

In [46]:
list1.index(4)

8

In [47]:
#insert function is used to insert an element to the list at the a given index
list1.insert(3,15)

In [48]:
print(list1)

[2, 3.0, 'reddy', 15, 55, 56.25, 'avengers', 1, 2, 4, 2, 5, 3, 6, 2, 4]

In [49]:
#pop method used to remove the elements of the list for the given index and if the index is not specified then
# the last of the list is removed
list1.pop(6)

'avengers'

In [50]:
list1.pop()

4

In [51]:
print(list1)

[2, 3.0, 'reddy', 15, 55, 56.25, 1, 2, 4, 2, 5, 3, 6, 2]

In [53]:
#remove method is used to remove an element from the list and it only removes 
#the first matching element when there is duplicated
list1.remove(15)

In [54]:
print(list1)

[2, 3.0, 'reddy', 55, 56.25, 1, 2, 4, 2, 5, 3, 6, 2]

In [55]:
#reverse method is used to reverse the elements of the list
list1.reverse()
print(list1)

[2, 6, 3, 5, 2, 4, 2, 1, 56.25, 55, 'reddy', 3.0, 2]

In [62]:
#list create an another list with integers
list3 = [1,2,3,6,5,4,7,8,9]
print(list3)

[1, 2, 3, 6, 5, 4, 7, 8, 9]

In [63]:
#sort method sorts the list in ascending order by default
list3.sort()

In [64]:
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
#if we want to sort the elements in the descending order we use reverse = True 
list3.sort(reverse = True)

In [66]:
print(list3)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Dictionary and its operation

In [70]:
#dictionary = Dictionary is an unordered collection of items, used to store data values like a map, 
#which unlike other Data Types that hold only single value as an element

# Creating a Dictionary 
# with Integer Keys 
Dict1 = {1: 'sudha', 2: 'reddy', 3: 'ram', 4: 'laxman'} 
print(Dict1)

{1: 'sudha', 2: 'reddy', 3: 'ram', 4: 'laxman'}

In [71]:
# Creating a Dictionary 
# with Mixed keys 
Dict2 = {'Name': 'reddy', 1: [1, 2, 3, 4]} 
print(Dict2)

{'Name': 'reddy', 1: [1, 2, 3, 4]}

In [73]:
#clear function or method is used to removes all the elements from a dictionary.
Dict2.clear()

In [74]:
print(Dict2)

{}

In [75]:
# copy method is used to create a shallow copy of dictonary ie an exact duplicate of the original
dict = Dict1.copy()

In [76]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'ram', 4: 'laxman'}

In [78]:
#fromkeys creates a new dictionary from the given sequence of elements with a value provided by the user
seq = {'a','b','c','d','e','f','g'}
res_dict = dict.fromkeys(seq)

In [79]:
print(res_dict)

{'f': None, 'c': None, 'd': None, 'a': None, 'e': None, 'g': None, 'b': None}

In [80]:
res_dict1 = dict.fromkeys(seq,1)

In [81]:
print(res_dict1)

{'f': 1, 'c': 1, 'd': 1, 'a': 1, 'e': 1, 'g': 1, 'b': 1}

In [82]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'ram', 4: 'laxman'}

In [83]:
#The get method returns the value of the item with the specified key.
dict.get(2)

'reddy'

In [84]:
# The item method returns a view object. 
#The view object contains the key-value pairs of the dictionary, as tuples in a list.
dict.items()

dict_items([(1, 'sudha'), (2, 'reddy'), (3, 'ram'), (4, 'laxman')])

In [85]:
# The item method returns a view object. 
#The view object contains the keys of the dictionary, as tuples in a list.
dict.keys()

dict_keys([1, 2, 3, 4])

In [87]:
#pop method removes an element from the dictionary. It removes the element which is associated to the specified key.
#If the specified key is not present, it throws an error Keyerror
dict.pop(4)

'laxman'

In [88]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'ram'}

In [89]:
#popitem method removes an element from the dictionary. It removes arbitrary element and return its value. 
dict.popitem()

(3, 'ram')

In [90]:
print(dict)

{1: 'sudha', 2: 'reddy'}

In [93]:
#The setdefault method returns the value of a key (if the key is in dictionary). 
#If not, it inserts key with a value to the dictionary.
dict.setdefault(3,'sudha')

'sudha'

In [95]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'sudha'}

In [96]:
dict.setdefault(4,)

In [97]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'sudha', 4: None}

In [101]:
#Update method adds element(s) to the dictionary if the key is not in the dictionary. 
#If the key is in the dictionary, it updates the key with the new value.
d1 = {4:'pen'}

In [102]:
print(d1)

{4: 'pen'}

In [103]:
dict.update(d1)

In [104]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'sudha', 4: 'pen'}

In [106]:
d2 = {3: 'ram'}
print(d2)

{3: 'ram'}

In [107]:
dict.update(d2)

In [108]:
print(dict)

{1: 'sudha', 2: 'reddy', 3: 'ram', 4: 'pen'}

In [109]:
#values method returns a list of all the values available in a given dictionary as tuple in the list
dict.values()

dict_values(['sudha', 'reddy', 'ram', 'pen'])

# Sets and its operations

In [112]:
#set = set is an unordered collection of elements which unindexed,iterable and duplicates are not allowed 
s1 = {'a','a','b','c','d','e','f','f','g'}
print(s1)

{'f', 'c', 'd', 'a', 'e', 'g', 'b'}

In [115]:
# add method adds a given element to a set if the element is not present in the set.
s1.add('h')
print(s1)

{'f', 'c', 'd', 'a', 'e', 'g', 'h', 'b'}

In [116]:
#clear method removes all elements from the set.
s1.clear()

In [117]:
print(s1)

set()

In [119]:
s2 = {1,2,3,4,3,'a','b','c','d','a'}
print(s2)

{1, 2, 3, 4, 'c', 'd', 'a', 'b'}

In [120]:
#copy method will return a new set which is the exact duplicate of original set
s3 = s2.copy()
print(s3)

{1, 2, 3, 4, 'c', 'd', 'a', 'b'}

In [121]:
s4 = {1,3,5,6,'c','d','e','f','g'}

In [124]:
print(s4)

{1, 3, 5, 6, 'f', 'c', 'd', 'e', 'g'}

In [123]:
print(s3)

{1, 2, 3, 4, 'c', 'd', 'a', 'b'}

In [125]:
#difference method returns a set that contains the difference between two sets. 
#Meaning: The returned set contains items that exist only in the first set, and not in both sets.
s3.difference(s4)

{2, 4, 'a', 'b'}

In [126]:
#difference_update() method removes the items that exist in both sets.
s3.difference_update(s4)

In [127]:
print(s3)

{2, 4, 'a', 'b'}

In [128]:
print(s4)

{1, 3, 5, 6, 'f', 'c', 'd', 'e', 'g'}

In [129]:
#discard method removes the specified item from the set.
s4.discard('f')

In [130]:
print(s4)

{1, 3, 5, 6, 'c', 'd', 'e', 'g'}

In [131]:
s4.discard(4)  # we will not get error if the values is not present also this is the difference between remove and discard

In [132]:
print(s4)

{1, 3, 5, 6, 'c', 'd', 'e', 'g'}

In [133]:
#intersection method returns a new set with elements that are common to all sets.

s4.intersection(s3)

set()

In [135]:
s = {1,3,5,6,'a','d','b','f','h',9,15,14}
print(s)

{1, 3, 5, 6, 'f', 9, 'd', 'a', 14, 15, 'h', 'b'}

In [136]:
s4.intersection(s)

{1, 3, 5, 6, 'd'}

In [137]:
#intersection_update method removes the items that is not present in both sets

s.intersection_update(s4)

In [138]:
print(s)

{1, 3, 5, 6, 'd'}

In [139]:
#Set isdisjoint method checks whether the two sets are disjoint sets or not. 
#If the sets are disjoint, this method returns true else it returns false.
#Two sets are said to be disjoint if they do not have any common elements.

s4.isdisjoint(s)

False

In [141]:
s.isdisjoint(s1)   # this is disjoint set since the set s is an empty set

True

In [143]:
#The issubset method in Python checks whether a given Set is a subset of another specified Set. 
#If all the elements of a given Set is present in another Set then the given set is called the subset of another Set.

s4.issubset(s)

False

In [144]:
print(s4)

{1, 3, 5, 6, 'c', 'd', 'e', 'g'}

In [145]:
s = {1,3,5,'d','e'}

In [147]:
s.issubset(s4)  # all the elemnts of the set s is present in set s4

True

In [148]:
#The issuperset method returns True if a set has every elements of another set
#issuperset method returns True if all elements of a set A occupies set B which is passed as an argument 
#and returns false if all elements of B not present in A.

s4.issuperset(s)

True

In [149]:
#pop method removes a random element from the set and returns the removed element.

s4.pop()

1

In [151]:
print(s4)

{3, 5, 6, 'c', 'd', 'e', 'g'}

In [154]:
#remove method removes the element from the set only if the element is present in the set.
#Just as the discard method does but If the element is not present in the set, then an error or exception is raised.

s4.remove('e')

In [155]:
print(s4)

{3, 5, 6, 'c', 'd', 'g'}

In [156]:
# symmetric difference method returns the symmetric difference of two sets. 
#The symmetric difference of two sets A and B is the set of elements that are in either A or B , but not in their intersection.

s4.symmetric_difference(s)

{1, 6, 'c', 'e', 'g'}

In [159]:
#symmetric_difference_update returns a new set or updates the existing set which is a symmetric difference of two given sets

s.symmetric_difference_update(s4)

In [160]:
print(s)

{1, 6, 'c', 'e', 'g'}

In [161]:
print(s4)

{3, 5, 6, 'c', 'd', 'g'}

In [162]:
#union method returns a set that contains all items from the original set, and all items from the specified sets

s4.union(s)

{1, 3, 5, 6, 'c', 'd', 'e', 'g'}

In [163]:
print(s4)

{3, 5, 6, 'c', 'd', 'g'}

In [164]:
#update method in set adds elements from a set (passed as an argument) to the set.

s4.update('h')

In [165]:
print(s4)

{3, 5, 6, 'c', 'd', 'g', 'h'}

# Tuple and its operations

In [166]:
#Tuple = Tuple is an ordered sequence of elements which is mutable and is written in ()

In [167]:
tuple1 = (1,3,4,5,6,2,4,2,'apple','banana')
print(tuple1)

(1, 3, 4, 5, 6, 2, 4, 2, 'apple', 'banana')

In [170]:
#count method searches the given element in a tuple and returns how many times the element has occurred in it.
tuple1.count(2)

2

In [171]:
#index method searches for the given element in a tuple and returns its position. 
#However, if the same element is present more than once, the first/smallest position is returned. 

tuple1.index(2)

5

# String and its operations

In [172]:
# String = Strings are sequences of characters which is enclosed between single quotes or double quotes

In [174]:
FirstName = 'Sudhakar'
LastName = "Reddy"
print(FirstName,LastName)

Sudhakar Reddy

In [175]:
#We can assign a multiline string to a variable by using three quotes.This is called as docstrings
"""Every day I want to have you next to me, When you’re not here, 
I’m always sad, When you are here, 
my heart is full of joy, I never want to lose you."""

'Every day I want to have you next to me, When you’re not here, \nI’m always sad, When you are here, \nmy heart is full of joy, I never want to lose you.'

In [182]:
str1 = 'sudhakar reddy'
print(str1)

sudhakar reddy

In [183]:
str1.capitalize()

'Sudhakar reddy'

In [184]:
str1.casefold()

'sudhakar reddy'