# Python Datatypes

### Number types = Integer, float, complex

In [8]:
#integer = Wjhole number like 3,300,400
a,b,c = 1,2,15

In [6]:
print(a,b,c,sep ='\n')

1
2
15

In [7]:
type(a),type(b),type(c)

(int, int, int)

In [9]:
#Floating point = Number with decimal point

a,b,c = 1.5,25,25.6

In [10]:
print(a,b,c,sep ='\n')

1.5
25
25.6

In [11]:
type(a),type(b),type(c)

(float, int, float)

In [14]:
# Complex number = it is just two numbers added together ( real number and imagenary number

a = 3 + 2j

In [15]:
print(a)

(3+2j)

In [16]:
type(a)

complex

In [23]:
a = 1
b = 2
c = 3

In [25]:
print(a,b,c,sep = '\n')

1
2
3

In [26]:
# we can use del keyword to delete a single object or multiple objects

del a

In [27]:
print(a,b,c,sep = '\n')

NameError: name 'a' is not defined

In [28]:
# Number type conversion

In [30]:
int(1.5)

1

In [31]:
float(2)

2.0

In [32]:
complex(5)

(5+0j)

In [33]:
complex(5,6)

(5+6j)

#### Using Underscores in number

In [34]:
# Python ignores the underscore while storing this type of values
Num = 900_250_140

In [35]:
Num

900250140

### Text Types = String

In [20]:
# String = Ordered sequence of characters which is represented using single or double quotes 

str = 'Sudhakar'
str1 = "Reddy"

In [21]:
print(str,str1)

Sudhakar Reddy

In [22]:
type(str)

str

In [36]:
# Accessing the string elements

In [37]:
str[2]

'd'

In [38]:
str[1:5]

'udha'

## Python List

In [39]:
# List = ordered collection of object or items or elemnts which is iterable,mutable(changeable)
#list is denoted by []

In [42]:
# creating an empty list

lst = []
lst1 = list()

In [43]:
print(lst,lst1,sep = '\n')

[]
[]

In [48]:
dict = {}
dict

{}